__pycache__/
.env

#Model and Video folder is not included as it takes too much space
models/
video/


#Virtual Enviornment
.venv/
.idea/
.DS_Store

# OAuth credentials and tokens
client_secret.json
token.json

# Test CSVs
*_20*.csv
